.home {
    &__form {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    &__listings {
        margin-bottom: 4rem;
    }

    &__pagination {
        margin-bottom: 6rem;
    }

    &__label {
        font-size: 1.8rem;
        color: $color-primary;
    }

    &__select {
        font-size: 1.6rem;
        width: 5rem;
        height: 3rem;
        outline: none;
        margin: 1.5rem;
    }
}